@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;
}

body {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    background-color: #86B9B0;
    position: relative;
}

#pgbg {
    z-index: -5;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

*::-webkit-scrollbar {
    display: none;
}

#nav {
    z-index: 5;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
}

#nav #btns {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    padding-right: 2rem;
}

#nav .navbtn:hover {
    background-color: #86B9B0;
    height: 100%;
    font-size: 0.7rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

#nav .navbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 70%;
    width: 12rem;
    font-size: 1rem;
    transition-duration: 250ms;
}

#nav #bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #D1D7D7;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

#logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: #d3f6ec;
    background: linear-gradient(90deg, rgba(76, 100, 115, 1) 10%, rgba(76, 114, 115, 1) 50%, rgba(66, 102, 79, 1) 90%);
    transform: skew(-30deg) translateX(-10%);
}

#nav span {
    position: absolute;
    transform: skew(30deg) translateX(10%);
    font-size: 1rem;
}

#content {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    white-space: pre-wrap;
    padding: 2%;
    margin: 7rem 0 2rem 0;
    min-height: 842px;
    width: 595px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.image {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #86B9B0;
    background-image: url(./reflections/Reflect2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.source::first-line {
    text-indent: 0;
}